:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--black-color);
  background-color: var(--white-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-color: rgb(70, 255, 211);
  --black-color: #000000;
  --white-color: rgb(249, 249, 249); 

}

body {
  margin: 0;
  font-size: 1.5rem;
}

a {
  font-weight: 500;
  color: var(--white-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--main-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.cart-icon{
  width: 25px;
  height: 25px;
  position: relative;
  background-color: var(--white-color);
  padding: 10px;
  border-radius: 50%;
  margin: 0px 25px 0px 50px;
  cursor: pointer;
}

/* StoreName - Navbar components */
.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--black-color);
  display: flex;
  align-items: center;
  justify-content:space-between;
  height: 80px;
}

/* UL - image */
nav{
display: flex;
align-items: center;
justify-content: center;
}

/* Home-Products-Contact */
.nav-list{
  display: flex;
  gap: 30px;
}

.title-color{
  color: var(--main-color); 
}

h1{
  margin-left: 25px;
  font-size: 2.5rem;
  color: var(--white-color);
}

h2{
  font-size: calc(1rem + 3vw);
  margin: 0;
}

h3{
  font-size: calc(1rem + 1.7vw);
  margin: 10px 0;
}

h5{
  font-size: 1.3rem;
  margin: 0;
}

p{
  font-size: 1rem;
  margin: 0px 0px 5px 0px;
  font-style: italic;

}


.homepage {
  height: 100vh;
  display: flex;
  justify-content:space-around;
  align-items: center;
  text-align: center;
}

.cover-image {
  width: 40%;
  height: 50%;
  object-fit: cover;
}

.discount-text{
  font-size: calc(1rem + 0.01vw);
  font-weight: 400;
}



/* line is for the - in ------ Get DISCOUNT ------ */
.line {
  text-align: center;
  /* position: relative; */
  margin: 5px 0;
}

.line::before, .line::after {
  content: "";
  display: inline-block;
  width: 20%;
  vertical-align: middle;
  border-bottom: 1px solid var(--black-color);
}

.line::before {
  margin-right: 0.5em;
}

.line::after {
  margin-left: 0.5em;
}

.shop-button{
  border-radius: 15px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--white-color);
  background-color: var(--black-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

.shop-button:hover {
  color: var(--main-color); 
}

.shop-button:focus,
.shop-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Products */

.container{
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}


.item{
  border-radius: 5px;
  background-color: white;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 1px 0px var(--black-color);
  box-sizing: border-box; 
}

.product-images{
height: 200px;
width: auto;
}

.product-info{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-shadow: inset 0px 10px 1px -10px var(--black-color);
  box-sizing: border-box; 
}

.title-price{
  height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-button{
  border: 1px solid transparent;
  height: 35px;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: inherit;
  color: var(--white-color);
  background-color: var(--black-color);
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contact */

.contact-wrapper{
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  text-align: center;
  gap: 100px;
}

.contact-icons{
  width: 100px;
  height: 100px;
  margin: 0px 50px;
}

.background{
position: absolute;
bottom: -120px;
z-index: -1;
}


/* Footer */

.footer-wrapper{
  box-shadow: 0 0 10px 0px rgb(203, 205, 211);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.github-icon{
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

/* Animation */

.hover-underline-animation {
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



/* Modal / Cart */

.modal-opacity{
  display: none;
  position: fixed; 
  z-index: 100; 
  right: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.4); 
}

.modal-sidebar {
  display: none;
  position: fixed; 
  z-index: 101;
  right: 0;
  top: 0;
  width: 400px; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(255, 255, 255); 
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 30px;
}

.content{
  font-size: 2rem;
}

.cart-image{
  height: 150px;
  width: auto;
}

.cart-items{
  display: flex;
  flex-direction: column;
}

.add-item-button, .minus-item-button{
padding: 5px;
width: 30px;
height: 30px;
background-color: rgb(212, 212, 212);
border: 0;
color: var(--black-color);
font-weight: 500;
font-size: 2rem;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin: 0px 20px;
cursor: pointer;
}

.cart-info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.amount{
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-price{
  margin: 0;
}

.checkout{
  display: block;
  background-color: var(--main-color);
  color: var(--black-color);
  border: 0;
  width: 80%;
  height: 50px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 25px 0px 25px 0px;
  cursor: pointer;
}

.close{
  display: block;
  background-color: rgb(238, 136, 136);
  color: var(--black-color);
  border: 0;
  width: 80%;
  height: 50px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
}